/* CalendarCard.module.css */

.calendarCard {
  padding: 10px;
  width: 100%; 
  position: relative;
  height: 330px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
}

.weekdaysContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}

.weekdaysRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weekday {
  text-align: center;
  width: calc(100% / 7); /* Distribute evenly across 7 days */
  padding: 5px;
  margin-top: 12px;
  font-size: 13px;
  
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
  gap: 0.1px; /* Gap between grid cells */
  border-radius: 10px;
}

.calendarDay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Adjust height as needed */
  border: 1px solid #e6e3e3; /* Border for calendar cells */
  padding: 10px;
  cursor: pointer;
}

.placeholder {
  background-color: #f2f2f2; 
}

.dropdown {
  position: absolute;
  top: 50px; 
  left: 20px;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-wrap: wrap;
}

.dropdownColumn {
  flex: 1;
  padding: 10px;
}

.dropdownColumn h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.scrollContainer {
  max-height: 140px; 
  overflow-y: auto;
}

.dueTimeContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer; 
  position: absolute; 
  top: -1px; 
  right: 10px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 36%;
  height: 34px; 
}

.dueTimeContainer span {
  font-size: 13px;
  margin-right: 3px;
  margin-left: 10px;
  color: #b6b6b6;
}

.timePickerContainer {
  position: absolute;
  top: 50px; 
  left: 20px;
  width: 90%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 10px;
}

.timePickerContainer .react-time-picker__wrapper {
  width: 100%;
  max-width: 300px; 
}

.timePickerContainer .react-time-picker__clock {
  width: 100%; 
}

.timePickerContainer .react-time-picker__button {
  background-color: #007bff;
  color: #fff; 
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.timePickerContainer .react-time-picker__button:hover {
  background-color: #0056b3; 
}

.timePickerContainer .react-time-picker__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.timePickerContainer .react-time-picker__clock {
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.timePickerContainer .react-time-picker__clock.react-time-picker__clock--open {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
}

.currentDay {
  background-color: #007bff;
  color: #fff;
}
.calendarGrid{
  margin-left: -5px;
  margin-top: -10px;
}