/* Task.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.taskTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.headerIcons {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.addButton {
  text-transform: none;
}

.iconButton {
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.iconButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.roundPhotoContainer {
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 36px;
  height: 36px;
  background-color: #e5e7eb;
}

.roundPhoto {
  width: 100%;
  height: 100%;
}

.roundPhoto .MuiAvatar-root {
  width: 100%;
  height: 100%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  flex: 2 1 calc(25% - 1.5rem);
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  padding: 0rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardContent {
  font-size: 1rem;
  color: #6b7280;
}

.expandedTable {
  flex: 2 1 calc(50% - 1.5rem); 
}

.tableContainer {
  margin-top: -1rem;
}

.tableHeader {
  display: flex;
  align-items: center;
  margin-bottom: -30px;
  font-size: 1.4rem;
  font-weight: bold;
}

.bold{
  margin-top: 20px;
}

.tableActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
  margin-top: -25px;
}

.searchContainer {
  margin-left: 690px; 
  background-color: #ffffff;
  transition: margin-left 0.3s ease, padding 0.3s ease;
  width: 270px; 
}

.searchContainerClosed {
  margin-left: 770px; 
  width: 370px;
}

.searchField {
  transition: width 0.3s ease, margin-left 0.3s ease;
}

.searchFieldOpen {
  width: 270px; 
  margin-right: 0px; 
}

.searchFieldClosed {
  width: 370px; 
 
}

.iconContainer {
  display: flex;
  gap: 0.5rem;
  margin-right: 14px;
}

.iconButton {
  padding: 0.3rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-left: 5px;
  border: 1px solid #969696;
}

.iconButton:hover {
  box-shadow: 0 4px 8px rgba(183, 180, 180, 0.2);
}

.outerTableContainer {
  position: relative;
  overflow-x: auto;
  border-radius: 23px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 12px;
  background-color: #ffffff;
}

.roundedTableContainer {
  border-radius: 20px;
  overflow: hidden;
}

.roundedTable {
  border-collapse: separate;
  width: 100%;
  overflow: hidden;
}

.blueHeader {
  background-color: #f5f7f9;
  color: #ffffff;
  font-size: 0.8rem;
}

.paginationControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.3rem;
  color: #6b7280;
  margin-left: 15px;
  margin-top: 5px;
  gap: 10px;
  margin-bottom: -10px;
}

.paginationInfo {
  margin-bottom: 0.5rem;
}

.paginationButtons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.paginationButtons span {
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.paginationButtons span:hover {
  background-color: #d8eef8;
}


.fullscreenTableContainer {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #fff;
  padding: 1.5rem;
}

.fullscreenTable {
  width: 100%;
  height: 100%;
  border-radius: 0 !important;
}

.checkboxContainer {
  display: flex;
  align-items: center;
}

.checkboxInput {
  margin-right: 5px; 
}

.roundPhotos {
  display: inline-block;
  margin-left: 4px;
  margin-right: -2px;
  width: 23px;
  height: 23px;
  margin-bottom: 8px;
  margin-top: -7px;
}

.roundPhoto .MuiAvatar-root {
  width: 20px;
  height: 20px;
}

.employeeName {
  font-size: 1.2rem;
  margin-right: 10px;
}

.emailIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.headerIcons .roundPhotoContainer {
  margin-right: 10px;
  width: 36px;
  height: 36px;
  overflow: hidden; 
}

.headerIcons .roundPhotoContainer .roundPhoto  {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.dropdownContent {
  position: absolute;
  top: 65px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1;
  padding: 12px; 
  cursor: pointer;
  width: 160px;
}

.dropdownContent div {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.dropdownContent div:hover {
  background-color: #e2effc; 
}

.boldText{
  font-size: 1.1rem;
  font-weight: bold;
  color: #43454b;
  margin-bottom: -20px;
}



@media (max-width: 1200px) {
  .cardContainer {
    gap: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .card {
    flex: 2 1 calc(33.33% - 1.5rem);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 2 1 calc(50% - 1.5rem);
  }

  .searchContainer {
    margin-right: 10px; 
    width: 200px;
  }
  
  .searchContainerClosed {
    margin-left: 10px;
    width: 300px;
  }
  
  .outerTableContainer {
    border-radius: 20px;
  }

  .paginationControls span {
    padding: 0px 1px;
  }
}

@media (max-width: 600px) {
  .card {
    flex: 2 1 calc(100% - 1.5rem);
  }
}
.drawerContent {
  width: 90%; /* Increase width to 60% of the page */
  padding: 20px; /* Add padding for content spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000; /* Customize the color as needed */
}
