@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000; /* Default foreground color */
  --background-color: #D4F1F4; /* Default background color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #020202; 
    --background-color: #f4f9ff; 
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
